.div-1{

background-color: black;
color: white;
font-size: 90px;
text-align: center;
letter-spacing: 50px;
}

.sidebar {
    margin: 0;
    padding: 50px;
    width: 200px;
    background-color: #000000;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
  }
  .sidebar a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 200px;
  }
  

.tb-1{
    border: 1px solid black;
    border-collapse: collapse;
    align-items: center;

}


.tabla{

position: relative;



}
